---
import BGVideoLayout from "../../layouts/BGVideoLayout.astro";
---

<BGVideoLayout title="" addClass="isHomepage">
  <h1 class="hidden">Unravel by Gelo Cruz out now</h1>

  <div class="video-bg">
    <div id="youtubeEmbed"
    class="absolute top-1/2 left-1/2 w-screen h-[200vh] -z-20 -translate-x-1/2 -translate-y-1/2 object-cover"></div>
    <script type="text/javascript">
      const youtubeEmbedElement = document.getElementById("youtubeEmbed")
    
      // Add YouTube API script
      let tag = document.createElement("script")
      tag.src = "https://www.youtube.com/iframe_api"
      let firstScriptTag = document.getElementsByTagName("script")[0]
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag)
    
      let player
      let startSeconds = 0
    
      onYouTubeIframeAPIReady = function() {
        player = new YT.Player(youtubeEmbedElement, {
          videoId: '3t_Zvbw9LFU',
          playerVars: {
            autoplay: 1,
            autohide: 1,
            disablekb: 1,
            controls: 0,
            showinfo: 0, 
            modestbranding: 1, 
            loop: 1,
            fs: 0, 
            rel: 0,
            enablejsapi: 1,
            muted: 1, 
    
          },
          events: {
            onReady: function(e) {
              e.target.mute()
              e.target.playVideo()
            },
            onStateChange: function(e) {
              if (e.data === YT.PlayerState.PLAYING) {
                youtubeEmbedElement.classList.add("loaded")
              }
    
              if (e.data === YT.PlayerState.ENDED) {
                player.seekTo(startSeconds)
              }
            }
          }
        })
      }
      function updateIframeHeight() {
        var myIframe = document.querySelector('#youtubeEmbed');
        myIframe.style.height = window.innerHeight + 'px';
        myIframe.style.width = 'calc(' + window.innerHeight + 'px + 100vh)';
      }

      function setIframeHeightOnLoad() {
        updateIframeHeight();
      }

      window.onload = setIframeHeightOnLoad;
      window.addEventListener('resize', updateIframeHeight);
    </script>
  </div>
</BGVideoLayout>


<style lang="scss">
.video-bg {
  @apply relative w-screen h-screen overflow-hidden;

  .overlay {
    @apply absolute top-0 left-0 w-full h-full bg-black/40;
  }
}
</style>