---
import CarouselVideos from "../../components/CarouselVideos.astro";
import Layout from "../../layouts/Layout.astro";
import { getVideos } from "../../utils/sanity";

const videos = await getVideos();

---

<Layout title="Videos" addClass="">
    <section id="swiper-video" class="swiper relative top-0 mx-12 py-10">
        <div class="swiper-wrapper">
            {videos.length ? videos.map((video) => 
                <div class="swiper-slide"><CarouselVideos videos={video} /></div>) : "No videos here."}
        </div>
        <div class="swiper-pagination slider-bullets"></div>
    </section>
</Layout>

<style lang="scss" is:global>
    #swiper-video {
        @apply -ml-20;
        max-height: calc(100vh - 5rem);
    }

    div.swiper-pagination {
        @apply top-auto bottom-4 right-20 #{!important};
        .swiper-pagination-bullet {
            @apply bg-[#aaaaaa] opacity-75 #{!important};

            &.swiper-pagination-bullet-active {
                @apply bg-white opacity-100 h-5 rounded-3xl #{!important};
                
            }
        }
        
        
    }
    
</style>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<script is:inline src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script is:inline>
    new Swiper('.swiper', {
        direction: 'vertical',
        effect: 'slide',
        speed: 1500,
        mousewheel: {
            enabled: true,
        },
        pagination: {
            el: ".swiper-pagination",
            type: 'bullets',
            /*
            bulletActiveClass: "slider-bullet-active",
            bulletClass: "slider-bullet"
            */

        },
        injectStyles: [
            `
            .swiper-pagination-bullet {
               opacity: 1 !important;
            }
            
            `
        ]
    })
</script>

<!---
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: var(--swiper-pagination-color, var(--swiper-theme-color));

    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
    display: block;
    border-radius: 50%;
    background: var(--swiper-pagination-bullet-inactive-color, #000);
    opacity: var(--swiper-pagination-bullet-inactive-opacity, .2);
 -->


