---
import React from "react";

import CarouselVideos from "../../components/CarouselVideos.astro";
import Layout from "../../layouts/Layout.astro";
import { getVideos } from "../../utils/sanity";

const videos = await getVideos();

---

<Layout title="Videos" addClass="" class:list={['overflow-hidden', 'no-scrollbar']}>
    <section class="swiper relative top-0 mx-12 py-10">
        <div class="swiper-wrapper overflow-hidden">
            {videos.length ? videos.map((video) => 
                <div class="swiper-slide"><CarouselVideos videos={video} /></div>) : "No videos here."}
        </div>
    </section>
</Layout>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
<script is:inline src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script is:inline>
    new Swiper('.swiper', {
        direction: 'vertical',
        effect: 'fade',
        grabCursor: 'true',
        mousewheel: {
            invert: true,
        },
    })
</script>

<style>
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
</style>