---
import CarouselVideos from "../../components/CarouselVideos.astro";
import Layout from "../../layouts/Layout.astro";
import { getVideos } from "../../utils/sanity";

const videos = await getVideos();

---

<Layout title="Videos" addClass="">
    <section id="swiper-video" class="swiper">
        <div class="swiper-wrapper">
            {videos.length ? videos.map((video) => 
                <div class="swiper-slide"><CarouselVideos videos={video} /></div>) : "No videos here."}
        </div>

        <div class="swiper-pagination"></div>
    </section>
</Layout>

<style lang="scss" is:global>
    #swiper-video {
        @apply relative top-0 mx-12 py-10 -ml-4;
        max-height: calc(100vh - 5rem);
    }

    div.swiper-pagination {
        @apply top-auto bottom-4 right-20 #{!important};
        .swiper-pagination-bullet {
            @apply bg-[#aaaaaa] opacity-75 #{!important};

            &.swiper-pagination-bullet-active {
                @apply bg-white opacity-100 h-5 rounded-3xl #{!important};
            }
        }
    }
    
</style>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<script is:inline src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script is:inline>
    new Swiper('.swiper', {
        direction: 'vertical',
        effect: 'slide',
        speed: 1500,
        resistanceRatio: 0,
        rewind: true,
        shortSwipes: false,
        mousewheel: {
            enabled: true,
        },
        pagination: {
            el: ".swiper-pagination",
            type: 'bullets',
        },
    })
</script>
