---
import BGVideoLayout from "../../layouts/BGVideoLayout.astro";
---

<BGVideoLayout title="" addClass="">
  <h1 class="hidden">Unravel by Gelo Cruz out now</h1>
  <div class="overlay">
    <h2 class="leading-none">Gelo Evasco</h2>
    <h4 class="mb-12">Manager</h4>
    <h4><a href="mailto:management@gelocruz.com">management@gelocruz.com</a></h4>
    <h4><a href="tel:+639985523930">+639985523930</a></h4>
  </div>
  
</BGVideoLayout>




<style lang="scss">
.overlay {
  @apply absolute top-0 left-0 w-full h-full bg-black/50 content-center text-center;
}

</style>