---
import BGVideoLayout from "../../layouts/BGVideoLayout.astro";
import HorizonTeaser from "../../assets/horizon-teaser.mp4";
---

<BGVideoLayout title="" addClass="isHomepage">
  <h1 class="hidden">Unravel by Gelo Cruz out now</h1>

  <div class="video-bg">
    <video autoplay muted loop playsinline>
      <source type="video/mp4" src={HorizonTeaser} />
      Your browser does not support the video tag Should now be version 18
    </video>
    <div class="overlay">
      <h2>Gelo Evasco</h2>
      <h4>Manager</h4>
      <h4><a href="tel:+639985523930">+639985523930</a></h4>
    </div>
  </div>
</BGVideoLayout>


<style lang="scss">
  .video-bg {
  @apply relative w-screen h-screen;

  video {
    @apply absolute top-0 left-0 w-full h-full object-cover;
  }

  .overlay {
    @apply absolute top-0 left-0 w-full h-full bg-black/70 content-center text-center;
  }
}
</style>