---
import type { InferGetStaticParamsType } from "astro";
import Layout from "../../layouts/Layout.astro";
import { formatDate } from "../../utils";
import { urlFor } from "../../utils/image";
import { getPost, getPosts } from "../../utils/sanity";
import PortableText from '../../components/PortableText.astro';

export async function getStaticPaths() {
  const posts = await getPosts();
  return posts.map((post) => ({
    params: { slug: post.slug.current },
  }));
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
const { slug } = Astro.params as Params;

const post = await getPost(slug);
---

<Layout title={post.title!} addClass="no-scrollbar">
  {
    post.mainImage ? (
      <img
        class="post__cover"
        src={urlFor(post.mainImage).url()}
        alt="Cover image"
      />
    ) : (
      <div class="post__cover--none" />
    )
  }
  <section class="post mx-20 lg:ml-12 ml-4 pb-10 no-scrollbar">
    <div class="post__container">
      <h1 class="post__title">{post.title}</h1>
      <p class="post__date">
        {formatDate(post._createdAt)}
      </p>
      <div class="post__content">
        <PortableText portableText={post.body} />
      </div>
    </div>
  </section>
</Layout>

<style>
  .post__cover,
  .post__cover--none {
    @apply w-full h-[500px] object-cover mb-10;
  }

  .post__cover--none {
    background: var(--black);
  }

  .post {
    .post__title {
      
    }

    .post__date {
      @apply text-sm/snug pb-8;
    }
  }
</style>
