<div class="video-bg">
    <div id="youtubeEmbed"
    class="absolute top-1/2 left-1/2 md:w-[200vw] md:h-[200vh] md:-translate-x-[100vw] md:-translate-y-[100vh]
    w-[200vh] h-full -translate-x-1/2 -translate-y-1/2 pointer-events-none"></div>
    <script type="text/javascript">
      const youtubeEmbedElement = document.getElementById("youtubeEmbed")
    
      // Add YouTube API script
      let tag = document.createElement("script")
      tag.src = "https://www.youtube.com/iframe_api"
      let firstScriptTag = document.getElementsByTagName("script")[0]
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag)
    
      let player
      let startSeconds = 0
    
      onYouTubeIframeAPIReady = function() {
        player = new YT.Player(youtubeEmbedElement, {
          videoId: '3t_Zvbw9LFU',
          width: "2460px",
          height: "1400px",
          playerVars: {
            autoplay: 1,
            autohide: 1,
            disablekb: 1,
            controls: 0,
            showinfo: 0, 
            modestbranding: 1, 
            loop: 1,
            fs: 0, 
            rel: 0,
            enablejsapi: 1,
            muted: 1, 
    
          },
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        })
      }

      function onPlayerReady(event) {
        event.target.playVideo();

        setInterval(function (){
          var current_time = event.target.getCurrentTime();
          if (current_time > 14) {
            interval_is_stopped = true;
            player.seekTo(0);
          }
        }, 10);
      }

      function onPlayerStateChange(e) {
        if (e.data === YT.PlayerState.PLAYING) {
            youtubeEmbedElement.classList.add("loaded")
        }

        if (e.data === YT.PlayerState.ENDED) {
            player.seekTo(startSeconds)
        }
      }
    </script>
</div>

<style lang="scss">
    .video-bg {
      @apply relative w-screen h-screen overflow-hidden;
    
      .overlay {
        @apply absolute top-0 left-0 w-full h-full bg-black/40;
      }
    }
</style>