---
import {YouTube} from 'astro-lazy-youtube-embed'
import type { Video } from "../utils/sanity";

interface Props {
  videos: Video;

}

const { videos } = Astro.props;
---

<div class="video-wrap m-auto">
  {
    videos.videoID && videos.title ? (
    <YouTube
      title={videos.title}
      videoId={videos.videoID}
      embedParams={{
        rel: 0,
        modestbranding: 1,
        controls: 0,
        autoplay: 1
      }}
    />
    <div class="video-title"><h3>{videos.title}</h3></div>
    ) : (
      <span></span>
    )
  }
</div>


<style lang="scss">
  .video-wrap {
    @apply md:mt-[5vh] mt-[15vh] mx-auto w-[80vw];

    iframe {
      @apply w-full max-w-full max-h-[60vh] my-0 mx-auto #{!important};
    }
  }
</style>
