---
import $ from 'jquery';
import { slide } from 'astro:transitions';

interface Props {
  header: string;
}

const { header} = Astro.props;
---
<script>
  $('#menu').on('click', () => {
    console.log("TESTTTT");
    $('#menu').toggleClass('is-open');
    $('#main-menu').toggleClass('hidden-nav');
  });
</script>

<header class="header-nav">
	<div class="logo">
		<a href="/" data-astro-reload><img src="/gc-logo.png" alt="Gelo Cruz Logo"/></a>
	</div>

  <div class="header-title">
    <h2>{header}</h2>
  </div>

	<button id="menu" class="menu-icon">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button>

  <div id="main-menu" class="hidden-nav" transition:animate=fade>
    <ul>
      <li class="nav-menu-item profile-menu">
        <a href="/profile" data-astro-reload>Profile</a>
      </li>
      <li class="nav-menu-item discography-menu">
        <a href="/discography" data-astro-reload>Discography</a>
      </li>
      <li class="nav-menu-item news-menu">
        <a href="/videos" data-astro-reload>Videos</a>
      </li>
      <li class="nav-menu-item news-menu">
        <a href="/news" data-astro-reload>News</a>
      </li>
      <li class="nav-menu-item contact-menu">
        <a href="/contact" data-astro-reload>Contact</a>
      </li>
    </ul>
  </div>
</header>

<style lang="scss">
  header {
    @apply py-4 bg-black/95 absolute top-0 z-10 w-full px-12 flex items-center;
    height: 80px;

    .logo {
      @apply w-8;
    }

    .header-title {
      @apply ml-20;
    }

    .menu-icon {
      @apply w-8 h-7 flex flex-col justify-between cursor-pointer ml-auto;

      .bar {
        @apply w-full h-1 bg-white;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

        &:nth-child(2) {
          @apply my-1;
        }
      }

      // Styles for the active state
      &.is-open {
        .bar:first-child {
          transform: translateY(15px) rotate(45deg);
        }

        .bar:nth-child(2) {
          @apply opacity-0;
        }

        .bar:last-child {
          transform: translateY(-9px) rotate(-45deg);
        }
      }
    }
  }

  #main-menu {
    @apply absolute text-white text-center w-screen bg-black/95 top-20 left-0;
    height: calc(100vh - 5rem);
    transition: all .5s ease;

    &.hidden-nav {
      @apply overflow-hidden h-0;
    }

    & > ul {
      @apply lg:text-5xl text-2xl relative top-[50%];
      transform: translateY(calc(-50% - 5rem));

      li {
        @apply mb-10;

        a {
          @apply no-underline;
        }
      }
    }
  }
</style>