---
import Social from './Social.astro';
---

<footer>
    <div class="socials-wrap">
        <div class="socials-wrap-inner">
            <Social platform="youtube" icon="mdi:youtube" username="@gelocruzofficial" />
            <Social platform="facebook" icon="mdi:facebook" username="gelocruzofficial" />
            <Social platform="instagram" icon="mdi:instagram" username="invisibleants" />
            <Social platform="tiktok" icon="ic:baseline-tiktok" username="@_invisibleants" />
        </div>
    </div>
   
</footer>

<style>
    footer {
        @apply fixed top-0 right-0 text-right lg:bg-transparent bg-black/80 h-full content-center;

        .socials-wrap {
            @apply float-end lg:mx-12 mx-5 my-5;

            .socials-wrap-inner {
                @apply flex gap-5 flex-col;
            }
        }
    }
</style>