---
import { Icon } from 'astro-icon/components';

const { platform, username, icon } = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`} target="_blank"><Icon name={icon} /></a>

<style>
    [data-icon] {
        @apply opacity-50 hover:opacity-100 h-10 w-10;
        transition: all .5s ease;
    }
</style>