---
import Social from './Social.astro';
---

<footer>
    <div class="socials-wrap">
        <div class="socials-wrap-inner">
            <Social platform="youtube" username="@gelocruzofficial" icon="https://cdn.simpleicons.org/youtube/white" />
            <Social platform="facebook" username="gelocruzofficial" icon="https://cdn.simpleicons.org/facebook/white" />
            <Social platform="instagram" username="invisibleants" icon="https://cdn.simpleicons.org/instagram/white" />
            <Social platform="tiktok" username="@_invisibleants" icon="https://cdn.simpleicons.org/tiktok/white" />
        </div>
    </div>
   
</footer>

<style>
    footer {
        @apply fixed top-0 right-0 text-right lg:bg-transparent bg-black/80 h-full content-center;

        .socials-wrap {
            @apply float-end lg:mx-12 mx-5 my-5;

            .socials-wrap-inner {
                @apply flex gap-5 flex-col;
            }
        }
    }
</style>