---
import CardDiscography from "../../components/CardDiscography.astro";
import Layout from "../../layouts/Layout.astro";
import { getDiscography } from "../../utils/sanity";

const posts = await getDiscography();
---

<Layout title="Gelo Cruz News" addClass="">
    <section>
        {posts.length ? posts.map((post) => <CardDiscography post={post} />) : "No posts here."}
    </section>
</Layout>