---
import CardDiscography from "../../components/CardDiscography.astro";
import Layout from "../../layouts/Layout.astro";
import { getDiscography } from "../../utils/sanity";

const discographies = await getDiscography();
---

<Layout title="Discography" addClass="">
    <section class="discography-wrap">
        {discographies.length ? discographies.map((discography) => <CardDiscography discography={discography} />) : "No posts here."}
    </section>
</Layout>

<style lang="scss">
    .discography-wrap {
        display: flex;
        flex-direction: column;
    }
</style>