---
import { ViewTransitions } from 'astro:transitions';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/SocialMedia.astro';
import Backgroundvideo from "../components/BackgroundVideo.astro";

interface Props {
  title: string;
  addClass: string;
}

const { title, addClass } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />

    <!-- Google fonts -->
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500;700&family=Inter:wght@500;700;800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

    {title != '' ? <title>{title} | Gelo Cruz</title> :
      <title>Home | Gelo Cruz</title>
    }
    <ViewTransitions />
  </head>
  <body class="overflow-hidden">
    <Navigation header={title} />

    <div class:list={["main-container", addClass ]}>
      <main>
        <Backgroundvideo />
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>

<style>
  .main-container {
    @apply mt-20;

    &.isHomepage {
      @apply mt-0;
    }
  }

</style>

<style is:global>
  html {
    @apply bg-brand-black text-white font-sans;
    text-size-adjust: 100% overflow-hidden;
  }

  body {
    @apply m-0;
    body > * {
      @apply block;
    }
    h1 {
      @apply text-4xl/loose lg:text-7xl/[5rem] font-black block;
    }
    h2 {
      @apply text-2xl/loose lg:text-4xl/[5rem] font-bold block;
    }
    h3 {
      @apply text-xl lg:text-3xl/[5rem] font-bold block;
    }
    h4 {
      @apply text-xl/8 font-bold leading-8 block;
    }
    h5 {
      @apply text-lg font-bold block;
    }
    p {
      @apply text-sm/7 block mb-8;
    }
    a {
      @apply block underline;
    }
    ol {
      @apply text-sm/7 list-inside list-decimal block;
    }
  }
</style>
