---
// https://docs.astro.build/en/guides/view-transitions/
import { ViewTransitions } from 'astro:transitions';
import Navigation from '../components/Navigation.astro';

interface Props {
  title: string;
  addClass: string;
}

const { title, addClass } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />

    <!-- Google fonts -->
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500;700&family=Inter:wght@500;700;800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <Navigation />

    <div class:list={["main-container", addClass ]}>
      <header class="header">
      </header>
      <main>
        <slot />
      </main>
      <footer class="footer">
      </footer>
    </div>
  </body>
</html>

<style>
  .main-container {
    @apply mt-20;

    &.isHomepage {
      @apply mt-0;
    }
  }

</style>

<style is:global>
  :root {
    --font-family-sans: Inter;
    --font-family-serif: PT Serif;
    --font-family-mono: IMB Plex Mono;

    --white: #fff;
    --black: #101112;
    --gray-200: #ced2d9;
    --gray-600: #6e7683;
    --blue-600: #1e61cd;
    --magenta-100: #f9d7eb;
  }

  html {
    background-color: var(--black);
    color: var(--white);
    font-family: var(--font-family-sans), var(--font-family-serif), sans-serif;
    text-size-adjust: 100%;
  }

  body {
    margin: 0;
  }
</style>
